.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 8rem;
  background-color: #ffffff;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.m-section01 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10rem;
  position: relative;
  margin-top: 1rem;
}

.m-section02 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10rem;
  width: 100%;
}

.pre-footer-line {
  position: relative;
  height: 3px;
  width: 100%;
  background: linear-gradient(to right, transparent, var(--primary-color), transparent);
  margin-bottom: 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: #111;
  color: var(--text-light);
}

@media (max-width: 900px) {
  .m-section01 {
    padding: 5rem 2rem;
  }
  
  .s01-texts {
    margin-right: 10rem;
    width: 60%;
  }
  
  .s01-img {
    width: 30rem;
    height: 25rem;
  }
  
  .m-section02 {
    padding: 5rem 2rem;
  }
}

@media (max-width: 768px) {
  .s01-texts {
    width: 100%;
    margin-right: 0;
    align-items: center;
    text-align: center;
  }
  
  .s01-img {
    position: relative;
    width: 100%;
    height: auto;
    transform: none;
    margin-top: 2rem;
  }
  
  .m-section01 {
    flex-direction: column;
    padding: 3rem 1rem;
  }
}

@media (max-width: 600px) {
  .h-nav {
    display: none;
  }
  
  .s01-img {
    display: none;
  }
  
  .s01-texts {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    width: 100%;
  }
  
  .s01-subtitle {
    width: 100%;
    max-width: 100%;
  }
  
  .swiper-container {
    max-width: 100%;
    padding: 20px 0;
  }
  
  .swiper {
    height: 400px;
  }
  
  .m-section02 {
    padding: 3rem 1rem;
  }
  
  .footer {
    flex-direction: column;
    gap: 2rem;
  }
}
